*{
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Noto Sans TC';
}

h1{
    font-weight: 900;
    font-size: 3rem;
    color: #1a487c;
    margin-bottom: 0;
}

h4{
    font-weight: 700;
    color: #7d8998; 
}

.container{
    background: #f1f1f1;
    box-shadow: 0 8px 20px rgb(0 0 0 / 0.08);
    border-radius: 12px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 40px 40px;
}

#dropzone {
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #666;
    text-align: center;
}

#dropzone.dragover {
    border-color: #666;
    color: #000;
}

.canvas-wrapper {
  position: relative; 
  width: 100%; 
  margin-top: 20px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 80%;
  }
}