body {
      font-family: "Noto Sans TC", sans-serif;
      background: #f9f9f9;
      text-align: center;
      margin: 0;
      padding: 20px;
      text-align: center;
    }
h1 {
      font-weight: 900;
      margin-bottom: 30px;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }
    @media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.3);
}
.card img {
    width: 100%;
    height: auto;
}

.image-container{
    position: relative;
}

.hover-img {
  transition: opacity 0.8s ease;
}

.card h3{
    position: absolute; 
    bottom: 0.1px;
    color: rgba(250, 250, 250, 0.8);
    margin: 0;
    font-size: 3em;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.card:active {
  transform: scale(0.95);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#map {
    height: 96dvh;
    border-radius: 20px;
}